<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vblessings.nhs.mapper.BasePatientInfoMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.vblessings.nhs.model.entity.base.BasePatientInfo" id="basePatientInfoMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="age" column="age"/>
        <result property="idCard" column="id_card"/>
        <result property="contactNumber" column="contact_number"/>
        <result property="contactAddress" column="contact_address"/>
        <result property="education" column="education"
        typeHandler="com.vblessings.nhs.model.typehandler.ListStringHandler"/>
        <result property="creatorId" column="creator_id"/>
        <result property="updaterId" column="updater_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
        <result property="relation" column="relation"/>
        <result property="guardianName" column="guardian_name"/>
        <result property="guardianSex" column="guardian_sex"/>
        <result property="guardianIdCard" column="guardian_id_card"/>
    </resultMap>

    <update id="del">
        update base_patient_info
        set is_del = 1
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="baseArchiveList" resultMap="basePatientInfoMap">
        select * from base_patient_info
        where
        is_del = 0
        <if test="name !=null and name !=''">
          and   name like concat('%',#{name},'%')
        </if>

    </select>
    <select id="baseArchiveListCopy" resultMap="basePatientInfoMap">
        select * from base_patient_info
        where
        is_del = 0
        <if test="name !=null and name !=''">
            and  name = #{name}
        </if>
    </select>

    <select id="queryPatientList" resultType="com.vblessings.nhs.model.vo.page.PatientQueryVO">
        SELECT
          t1.name AS "name",
          t1.sex AS "sex",
          t1.age AS "age",
          t2.business_no AS "businessNo",
          t1.id AS "archiveId",
          t2.building_code AS "buildingCode",
          t3.building_name AS "buildingName",
          t2.floor_code AS "floorCode",
          t3.floor_name AS "floorName",
          t2.room_code AS "roomCode",
          t3.room_name AS "roomName",
          t2.bed_code AS "bedCode",
          t3.name AS "bedName",
          t1.id_card AS "idCard",
          t1.contact_number AS "contactNumber",
          t1.contact_address AS "contactAddress",
          t1.guardian_name AS "guardianName",
          t1.guardian_sex AS "guardianSex",
          t1.guardian_id_card AS "guardianIdCar",
          t2.relation AS "relation"
        FROM base_patient_info t1
        LEFT JOIN bus_hospital_record t2 ON t1.id = t2.archive_id
          AND t2.is_del = 0 AND t2.status = '0'
        LEFT JOIN sys_bed_info t3 ON t2.building_code = t3.building_code
          AND t2.floor_code = t3.floor_code AND t2.room_code = t3.room_code
          AND t2.bed_code = t3.bed_code AND t3.is_del = 0 AND t3.use_flag = '1'
        WHERE t1.is_del = 0
        <if test="keyWords != null and keyWords !=''">
            AND (
            t1.name LIKE CONCAT('%',#{keyWords},'%')
            OR t2.business_no LIKE CONCAT('%',#{keyWords},'%')
            )
        </if>
    </select>
</mapper>