<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vblessings.nhs.mapper.BusBloodSugarRecordMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.vblessings.nhs.model.entity.business.BusBloodSugarRecord" id="busBloodSugarRecordMap">
        <result property="id" column="id"/>
        <result property="businessNo" column="business_no"/>
        <result property="patientName" column="patient_name"/>
        <result property="bedName" column="bed_name"/>
        <result property="hospitalDiagnosis" column="hospital_diagnosis"/>
        <result property="bloodSugarRecordDate" column="blood_sugar_record_date"/>
        <result property="samplingStatus" column="sampling_status"/>
        <result property="samplingTime" column="sampling_time"/>
        <result property="samplingSignature" column="sampling_signature"/>
        <result property="creatorId" column="creator_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updaterId" column="updater_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
        <result property="bloodGlucoseValue" column="blood_glucose_value"/>
    </resultMap>
    <select id="queryBloodSugarNoToken" resultType="com.vblessings.nhs.model.vo.nurse.BloodSugarReportQueryVO">
        SELECT
          t1.business_no AS businessNo,
          t1.patient_name AS patientName,
          DATE_FORMAT(t1.blood_sugar_record_date,'%Y-%m-%d') AS bloodSugarRecordDate,
          DATE_FORMAT(t1.sampling_time,'%H:%i:%s') AS samplingTime,
          t1.sampling_status AS samplingStatus,
          t1.blood_glucose_value AS bloodGlucoseValue,
          t2.building_name AS buildingName,
          t2.floor_name AS floorName,
          t2.room_name AS roomName,
          t2.bed_name AS bedName
        FROM bus_blood_sugar_record t1
        LEFT JOIN bus_hospital_record t2 ON t1.business_no = t2.business_no
          AND t2.is_del = 0 AND t2.status = '0'
        WHERE
         t1.is_del = 0
        <if test="startTime !=null and startTime != ''">
            AND t1.sampling_time <![CDATA[>=]]> to_timestamp(#{startTime}, 'yyyy-MM-dd hh24:mi:ss')
        </if>
        <if test="endTime !=null and endTime != ''">
            AND t1.sampling_time <![CDATA[<=]]> to_timestamp(#{endTime}, 'yyyy-MM-dd hh24:mi:ss')
        </if>
        <if test="businessNo !=null and businessNo !=''">
            and t1.business_no = #{businessNo}
        </if>
        ORDER BY t2.building_code desc, t2.floor_code desc, t2.room_code desc, t2.bed_code desc, t1.blood_sugar_record_date asc
    </select>
    <select id="queryBloodSugar" resultType="com.vblessings.nhs.model.vo.nurse.BloodSugarQueryVO">
        SELECT
          t1.id AS id,
          t1.business_no AS businessNo,
          t1.patient_name AS patientName,
          t1.hospital_diagnosis AS hospitalDiagnosis,
          DATE_FORMAT(t1.blood_sugar_record_date,'%Y-%m-%d') AS bloodSugarRecordDate,
          t1.sampling_status AS samplingStatus,
          DATE_FORMAT(t1.sampling_time,'%H:%i:%s') AS samplingTime,
          t1.sampling_signature AS samplingSignature,
          t1.blood_glucose_value AS bloodGlucoseValue,
          t2.building_name AS buildingName,
          t2.floor_name AS floorName,
          t2.room_name AS roomName,
          t2.bed_name AS bedName
        FROM bus_blood_sugar_record t1
        LEFT JOIN bus_hospital_record t2 ON t1.business_no = t2.business_no
          AND t2.is_del = 0 AND t2.status = '0'
        WHERE
          t1.is_del = 0
        <if test="id !=null and id !=''">
            AND t1.id = #{id}
        </if>
        <if test="businessNo !=null and businessNo !=''">
            and t1.business_no = #{businessNo}
        </if>
        <if test="patientName !=null and patientName !=''">
            and t1.patient_name like concat('%',#{patientName},'%')
        </if>
        <if test="samplingStatus !=null and samplingStatus !=''">
            and t1.sampling_status = #{samplingStatus}
        </if>
        <if test="startTime !=null and startTime != ''">
            AND t1.blood_sugar_record_date <![CDATA[>=]]> to_timestamp(#{startTime}, 'yyyy-MM-dd hh24:mi:ss')
        </if>
        <if test="endTime !=null and endTime != ''">
            AND t1.blood_sugar_record_date <![CDATA[<=]]> to_timestamp(#{endTime}, 'yyyy-MM-dd hh24:mi:ss')
        </if>
        ORDER BY t2.building_code desc, t2.floor_code desc, t2.room_code desc, t2.bed_code desc, t1.blood_sugar_record_date asc
    </select>

</mapper>