<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vblessings.nhs.mapper.BusBloodSugarRecordMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.vblessings.nhs.model.entity.business.BusBloodSugarRecord" id="busBloodSugarRecordMap">
        <result property="id" column="id"/>
        <result property="businessNo" column="business_no"/>
        <result property="patientName" column="patient_name"/>
        <result property="bedName" column="bed_name"/>
        <result property="hospitalDiagnosis" column="hospital_diagnosis"/>
        <result property="bloodSugarRecordDate" column="blood_sugar_record_date"/>
        <result property="samplingStatus" column="sampling_status"/>
        <result property="samplingTime" column="sampling_time"/>
        <result property="samplingSignature" column="sampling_signature"/>
        <result property="creatorId" column="creator_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updaterId" column="updater_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
        <result property="bloodGlucoseValue" column="blood_glucose_value"/>
    </resultMap>

</mapper>