<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vblessings.nhs.mapper.BusHospitalRecordMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.vblessings.nhs.model.entity.business.BusHospitalRecord" id="busHospitalRecordMap">
        <result property="id" column="id"/>
        <result property="archiveId" column="archive_id"/>
        <result property="businessNo" column="business_no"/>
        <result property="dischargeTime" column="discharge_time"/>
        <result property="admissionTime" column="admission_time"/>
        <result property="status" column="status"/>
        <result property="creatorId" column="creator_id"/>
        <result property="updaterId" column="updater_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
        <result property="nursingLevel" column="nursing_level"/>
        <result property="admissionReason" column="admission_reason"/>
        <result property="hospitalDiagnosis" column="hospital_diagnosis"/>
        <result property="isSignNotification" column="is_sign_notification"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="idCard" column="id_card"/>
        <result property="contactAddress" column="contact_address"/>
        <result property="relationName" column="relation_name"/>
        <result property="contactNumber" column="contact_number"/>
        <result property="relation" column="relation"/>
        <result property="bedCode" column="bed_code"/>
        <result property="floorCode" column="floor_code"/>
        <result property="allergy" column="allergy"/>
        <result property="previousHistory" column="previous_history"/>
        <result property="feesDueDate" column="fees_due_date"/>
        <result property="feesDueStatue" column="fees_due_statue"/>
        <result property="buildingCode" column="building_code"/>
        <result property="roomCode" column="room_code"/>
        <result property="peopleFrom" column="people_from"/>
        <result property="peopleTo" column="people_to"/>
        <result property="roomName" column="room_name"/>
        <result property="buildingName" column="building_name"/>
        <result property="bedName" column="bed_name"/>
        <result property="floorName" column="floor_name"/>
    </resultMap>
    <update id="out">
    update bus_hospital_record
    set status = 1
    discharge_time = #{dischargeTime}
    where business_no = #{businessNo}
    </update>
    <select id="queryBrokenLineByMonth" resultType="com.vblessings.nhs.model.vo.TempData">
       SELECT  DATE_FORMAT(admission_time,"%Y-%m") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= admission_time
        </if>
        <if test="startTime !=null">
            and admission_time >= #{startTime}
        </if>
        GROUP BY DATE_FORMAT(admission_time,"%Y-%m")
    </select>
    <select id="queryBrokenLineByMonth1" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(discharge_time,"%Y-%m") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= discharge_time
        </if>
        <if test="startTime !=null">
        and discharge_time >= #{startTime}
       </if>
        and status = 1
        GROUP BY DATE_FORMAT(discharge_time,"%Y-%m")
    </select>
    <select id="queryBrokenLineByYear" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(admission_time,"%Y") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= admission_time
        </if>
        <if test="startTime !=null">
            and admission_time >= #{startTime}
        </if>
        GROUP BY DATE_FORMAT(admission_time,"%Y")
    </select>
    <select id="queryBrokenLineByYear1" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(discharge_time,"%Y") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= discharge_time
        </if>
        <if test="startTime !=null">
            and discharge_time >= #{startTime}
        </if>
        GROUP BY DATE_FORMAT(discharge_time,"%Y")
    </select>

    <select id="queryCakeByMonth" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(admission_time,"%Y-%m") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= admission_time
        </if>
        <if test="startTime !=null">
            and admission_time >= #{startTime}
        </if>
        and nursing_level = 0003
        GROUP BY DATE_FORMAT(admission_time,"%Y-%m")
    </select>
    <select id="queryCakeByMonth1" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(admission_time,"%Y-%m") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= admission_time
        </if>
        <if test="startTime !=null">
            and admission_time >= #{startTime}
        </if>
        and nursing_level = 0002
        GROUP BY DATE_FORMAT(admission_time,"%Y-%m")
    </select>
    <select id="queryCakeByMonth2" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(admission_time,"%Y-%m") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= admission_time
        </if>
        <if test="startTime !=null">
            and admission_time >= #{startTime}
        </if>
        and nursing_level = 0001
        GROUP BY DATE_FORMAT(admission_time,"%Y-%m")
    </select>
    <select id="queryCakeByYear" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(admission_time,"%Y") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= admission_time
        </if>
        <if test="startTime !=null">
            and admission_time >= #{startTime}
        </if>
        and  nursing_level = 0003
        GROUP BY DATE_FORMAT(admission_time,"%Y")
    </select>
    <select id="queryCakeByYear1" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(admission_time,"%Y") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= admission_time
        </if>
        <if test="startTime !=null">
            and admission_time >= #{startTime}
        </if>
        and  nursing_level = 0002
        GROUP BY DATE_FORMAT(admission_time,"%Y")
    </select>
    <select id="queryCakeByYear2" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(admission_time,"%Y") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= admission_time
        </if>
        <if test="startTime !=null">
            and admission_time >= #{startTime}
        </if>
        and  nursing_level = 0001
        GROUP BY DATE_FORMAT(admission_time,"%Y")
    </select>
    <select id="queryHospitalRecordList" resultType="com.vblessings.nhs.model.vo.business.BusHospitalRecordVO">
        select
          t1.id AS id,
            t1.archive_id AS archiveId,
            t1.business_no AS businessNo,
            date_format(t1.discharge_time, '%Y-%m-%d %H:%i:%s') AS dischargeTime,
            date_format(t1.admission_time, '%Y-%m-%d %H:%i:%s') AS admissionTime,
            t1.status AS status,
            t1.creator_id AS creatorId,
            t1.updater_id AS updaterId,
            date_format(t1.create_time, '%Y-%m-%d %H:%i:%s') AS createTime,
            date_format(t1.update_time, '%Y-%m-%d %H:%i:%s') AS updateTime,
            t1.is_del AS isDel,
            t1.nursing_level AS nursingLevel,
            t1.admission_reason AS admissionReason,
            t1.hospital_diagnosis AS hospitalDiagnosis,
            t1.is_sign_notification AS isSignNotification,
            t1.name AS name,
            t1.sex AS sex,
            t1.age AS age,
            t1.id_card AS idCard,
            t1.contact_address AS contactAddress,
            t1.relation_name AS relationName,
            t1.contact_number AS contactNumber,
            t1.relation AS relation,
            t1.bed_code AS bedCode,
            t1.floor_code AS floorCode,
            t1.allergy AS allergy,
            t1.previous_history AS previousHistory,
            date_format(t1.fees_due_date, '%Y-%m-%d %H:%i:%s') AS feesDueDate,
            t1.fees_due_statue AS feesDueStatue,
            t1.building_code as buildingCode,
            t1.room_code AS roomCode,
            t1.people_from AS peopleFrom,
            t1.people_to AS peopleTo,
            t1.building_name AS buildingName,
            t1.room_name AS roomName,
            t1.bed_name AS bedName,
            t1.floor_name AS floorName,
            t2.guardian_id_card AS guardianIdCard
        from bus_hospital_record t1
        left join base_patient_info t2 ON t1.archive_id = t2.id
        where t1.is_del = 0
        <if test="status !=null and status !=''">
            and t1.status = #{status}
        </if>
        <if test="businessNo !=null and businessNo !=''">
            and t1.business_no = #{businessNo}
        </if>
        <if test="buildingCode !=null and buildingCode !=''">
            and t1.building_code = #{buildingCode}
        </if>
        <if test="floorCode !=null and floorCode !=''">
            and t1.floor_code = #{floorCode}
        </if>
        <if test="roomCode !=null and roomCode !=''">
            and t1.room_code = #{roomCode}
        </if>
        <if test="bedCode !=null and bedCode !=''">
            and t1. bed_code = #{bedCode}
        </if>
        <if test="name !=null and name !=''">
            and t1.name like concat('%',#{name},'%')
        </if>
    </select>

</mapper>