<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vblessings.nhs.mapper.BusHospitalRecordMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.vblessings.nhs.model.entity.business.BusHospitalRecord" id="busHospitalRecordMap">
        <result property="id" column="id"/>
        <result property="archiveId" column="archive_id"/>
        <result property="businessNo" column="business_no"/>
        <result property="dischargeTime" column="discharge_time"/>
        <result property="admissionTime" column="admission_time"/>
        <result property="status" column="status"/>
        <result property="creatorId" column="creator_id"/>
        <result property="updaterId" column="updater_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
        <result property="nursingLevel" column="nursing_level"/>
        <result property="admissionReason" column="admission_reason"/>
        <result property="hospitalDiagnosis" column="hospital_diagnosis"
                typeHandler="com.vblessings.nhs.model.typehandler.EvaluationContentHandler"/>
        <result property="isSignNotification" column="is_sign_notification"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="idCard" column="id_card"/>
        <result property="contactAddress" column="contact_address"/>
        <result property="relationName" column="relation_name"/>
        <result property="contactNumber" column="contact_number"/>
        <result property="relation" column="relation"/>
        <result property="bedCode" column="bed_code"/>
        <result property="floorCode" column="floor_code"/>
        <result property="allergy" column="allergy"
                typeHandler="com.vblessings.nhs.model.typehandler.EvaluationContentHandler"/>
        <result property="previousHistory" column="previous_history"
                typeHandler="com.vblessings.nhs.model.typehandler.EvaluationContentHandler"/>
        <result property="feesDueDate" column="fees_due_date"/>
        <result property="feesDueStatue" column="fees_due_statue"/>
        <result property="buildingCode" column="building_code"/>
        <result property="roomCode" column="room_code"/>
        <result property="peopleFrom" column="people_from"/>
        <result property="peopleTo" column="people_to"/>
        <result property="roomName" column="room_name"/>
        <result property="buildingName" column="building_name"/>
        <result property="bedName" column="bed_name"/>
        <result property="floorName" column="floor_name"/>
    </resultMap>
    <update id="out">
    update bus_hospital_record
    set status = 1
    discharge_time = #{dischargeTime}
    where business_no = #{businessNo}
    </update>
    <select id="queryBrokenLineByMonth" resultType="com.vblessings.nhs.model.vo.TempData">
       SELECT  DATE_FORMAT(admission_time,"%Y-%m") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= admission_time
        </if>
        <if test="startTime !=null">
            and admission_time >= #{startTime}
        </if>
        GROUP BY DATE_FORMAT(admission_time,"%Y-%m")
    </select>
    <select id="queryBrokenLineByMonth1" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(discharge_time,"%Y-%m") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= discharge_time
        </if>
        <if test="startTime !=null">
        and discharge_time >= #{startTime}
       </if>
        and status = 1
        GROUP BY DATE_FORMAT(discharge_time,"%Y-%m")
    </select>
    <select id="queryBrokenLineByYear" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(admission_time,"%Y") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= admission_time
        </if>
        <if test="startTime !=null">
            and admission_time >= #{startTime}
        </if>
        GROUP BY DATE_FORMAT(admission_time,"%Y")
    </select>
    <select id="queryBrokenLineByYear1" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(discharge_time,"%Y") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= discharge_time
        </if>
        <if test="startTime !=null">
            and discharge_time >= #{startTime}
        </if>
        GROUP BY DATE_FORMAT(discharge_time,"%Y")
    </select>

    <select id="queryCakeByMonth" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(admission_time,"%Y-%m") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= admission_time
        </if>
        <if test="startTime !=null">
            and admission_time >= #{startTime}
        </if>
        and nursing_level = 0003
        GROUP BY DATE_FORMAT(admission_time,"%Y-%m")
    </select>
    <select id="queryCakeByMonth1" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(admission_time,"%Y-%m") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= admission_time
        </if>
        <if test="startTime !=null">
            and admission_time >= #{startTime}
        </if>
        and nursing_level = 0002
        GROUP BY DATE_FORMAT(admission_time,"%Y-%m")
    </select>
    <select id="queryCakeByMonth2" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(admission_time,"%Y-%m") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= admission_time
        </if>
        <if test="startTime !=null">
            and admission_time >= #{startTime}
        </if>
        and nursing_level = 0001
        GROUP BY DATE_FORMAT(admission_time,"%Y-%m")
    </select>
    <select id="queryCakeByYear" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(admission_time,"%Y") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= admission_time
        </if>
        <if test="startTime !=null">
            and admission_time >= #{startTime}
        </if>
        and  nursing_level = 0003
        GROUP BY DATE_FORMAT(admission_time,"%Y")
    </select>
    <select id="queryCakeByYear1" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(admission_time,"%Y") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= admission_time
        </if>
        <if test="startTime !=null">
            and admission_time >= #{startTime}
        </if>
        and  nursing_level = 0002
        GROUP BY DATE_FORMAT(admission_time,"%Y")
    </select>
    <select id="queryCakeByYear2" resultType="com.vblessings.nhs.model.vo.TempData">
        SELECT  DATE_FORMAT(admission_time,"%Y") as tempData ,count(id)  targetNum FROM`bus_hospital_record`  where is_del =0
        <if test="endTime !=null">
            and #{endTime} >= admission_time
        </if>
        <if test="startTime !=null">
            and admission_time >= #{startTime}
        </if>
        and  nursing_level = 0001
        GROUP BY DATE_FORMAT(admission_time,"%Y")
    </select>

</mapper>