<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vblessings.nhs.mapper.BusMedicationRecordMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.vblessings.nhs.model.entity.business.BusMedicationRecord" id="busMedicationRecordMap">
        <result property="id" column="id"/>
        <result property="medicationDate" column="medication_date"/>
        <result property="bedCode" column="bed_code"/>
        <result property="name" column="name"/>
        <result property="drugSpecification" column="drug_specification"/>
        <result property="measure" column="measure"/>
        <result property="frequency" column="frequency"/>
        <result property="medicationTime" column="medication_time"/>
        <result property="creatorId" column="creator_id"/>
        <result property="updaterId" column="updater_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
        <result property="businessNo" column="business_no"/>
        <result property="ward" column="ward"/>
    </resultMap>
    <update id="del">
        update bus_medication_record
        set is_del = 1
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="queryMedicationRecordListGetListNoToken"
            resultType="com.vblessings.nhs.model.vo.business.MedicineRecordReportQueryVO">
        select b.name as name,
         b.drug_specification as drugSpecification,
         b.measure as measure,
         b.frequency as frequency,
        h.building_name AS buildingName,
        h.floor_name AS floorName,
        h.room_name AS roomName,
        h.bed_name AS bedName
         from bus_medication_record b left join bus_hospital_record h on
        b.business_no = h.business_no
        where b.is_del =0
        AND h.is_del = 0 AND h.status = '0'
        <if test="startTime !=null and startTime != ''">
            AND b.create_time <![CDATA[>=]]> to_timestamp(#{startTime}, 'yyyy-MM-dd hh24:mi:ss')
        </if>
        <if test="endTime !=null and endTime != ''">
            AND b.create_time <![CDATA[<=]]> to_timestamp(#{endTime}, 'yyyy-MM-dd hh24:mi:ss')
        </if>
        <if test="buildingCode !=null and buildingCode !=''">
            and h.building_code = #{buildingCode}
        </if>
        <if test="floorCode !=null and floorCode !=''">
            and h.floor_code = #{floorCode}
        </if>
        <if test="businessNo !=null and businessNo !=''">
            and b.business_no = #{businessNo}
        </if>
        ORDER BY h.building_code desc, h.floor_code desc, h.bed_code desc, b.medication_date asc
    </select>
    <select id="pageMedicationRecord"
            resultType="com.vblessings.nhs.model.entity.business.BusMedicationRecord">
        select
          t1.id AS id,
          DATE_FORMAT(t1.medication_date,'%Y-%m-%d %H:%i:%s') AS medicationDate,
          t1.bed_code AS bedCode,
          t1.name AS name,
          t1.drug_specification AS drugSpecification,
          t1.measure AS measure,
          t1.frequency AS frequency,
          t1.medication_time AS medicationTime,
          t1.business_no AS businessNo,
          t1.ward AS ward
        from bus_medication_record t1 left join bus_hospital_record t2 on
        t1.business_no = t2.business_no
        where t1.is_del =0
        AND t2.is_del = 0 AND t2.status = '0'
        <if test="buildingCode !=null and buildingCode !=''">
            and t2.building_code = #{buildingCode}
        </if>
        <if test="floorCode !=null and floorCode !=''">
            and t2.floor_code = #{floorCode}
        </if>
        <if test="businessNo !=null and businessNo !=''">
            and t1.business_no = #{businessNo}
        </if>
        <if test="name !=null and name !=''">
            and t1.name like concat('%',#{name},'%')
        </if>
        ORDER BY t2.building_code desc, t2.floor_code desc, t2.bed_code desc, t1.medication_date asc
    </select>

</mapper>