<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vblessings.nhs.mapper.BusMedicationRecordMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.vblessings.nhs.model.entity.business.BusMedicationRecord" id="busMedicationRecordMap">
        <result property="id" column="id"/>
        <result property="medicationDate" column="medication_date"/>
        <result property="bedCode" column="bed_code"/>
        <result property="name" column="name"/>
        <result property="drugSpecification" column="drug_specification"/>
        <result property="measure" column="measure"/>
        <result property="frequency" column="frequency"/>
        <result property="medicationTime" column="medication_time"/>
        <result property="creatorId" column="creator_id"/>
        <result property="updaterId" column="updater_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
        <result property="businessNo" column="business_no"/>
        <result property="ward" column="ward"/>
    </resultMap>
    <update id="del">
        update bus_medication_record
        set is_del = 1
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="queryMedicationRecordListGetListNoToken"
            resultType="com.vblessings.nhs.model.vo.business.MedicineRecordReportQueryVO">
        select b.name as name,
         b.drug_specification as drugSpecification,
         b.measure as measure,
         b.frequency as frequency,
        h.building_name AS buildingName,
        h.floor_name AS floorName,
        h.room_name AS roomName,
        h.bed_name AS bedName
         from bus_medication_record b left join bus_hospital_record h on
        b.business_no = h.business_no
        where b.is_del =0
        AND h.is_del = 0 AND h.status = '0'
        <if test="startTime !=null and startTime != ''">
            AND b.create_time <![CDATA[>=]]> to_timestamp(#{startTime}, 'yyyy-MM-dd hh24:mi:ss')
        </if>
        <if test="endTime !=null and endTime != ''">
            AND b.create_time <![CDATA[<=]]> to_timestamp(#{endTime}, 'yyyy-MM-dd hh24:mi:ss')
        </if>
        ORDER BY h.building_code, h.floor_code, h.bed_code
    </select>

</mapper>