<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vblessings.nhs.mapper.BusMenuInfoMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.vblessings.nhs.model.entity.business.BusMenuInfo" id="busMenuInfoMap">
        <result property="id" column="id"/>
        <result property="breakfastStapleFood" column="breakfast_staple_food"
                typeHandler="com.vblessings.nhs.model.typehandler.EvaluationContentHandler"/>
        <result property="breakfastMenu" column="breakfast_menu"
                typeHandler="com.vblessings.nhs.model.typehandler.EvaluationContentHandler"/>
        <result property="lunchStapleFood" column="lunch_staple_food"
                typeHandler="com.vblessings.nhs.model.typehandler.EvaluationContentHandler"/>
        <result property="lunchMenu" column="lunch_menu"
                typeHandler="com.vblessings.nhs.model.typehandler.EvaluationContentHandler"/>
        <result property="dinnerStapleFood" column="dinner_staple_food"
                typeHandler="com.vblessings.nhs.model.typehandler.EvaluationContentHandler"/>
        <result property="dinnerMeun" column="dinner_meun"
                typeHandler="com.vblessings.nhs.model.typehandler.EvaluationContentHandler"/>
        <result property="date" column="date"/>
        <result property="creatorId" column="creator_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updaterId" column="updater_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
    </resultMap>

</mapper>