<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vblessings.nhs.mapper.BusTakeMedicineRecordMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.vblessings.nhs.model.entity.business.BusTakeMedicineRecord" id="busTakeMedicineRecordMap">
        <result property="id" column="id"/>
        <result property="ward" column="ward"/>
        <result property="bedCode" column="bed_code"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="hospitalDiagnosis" column="hospital_diagnosis"/>
        <result property="takeMedicineDate" column="take_medicine_date"/>
        <result property="drugName" column="drug_name"/>
        <result property="measure" column="measure"/>
        <result property="acount" column="acount"/>
        <result property="expiryDate" column="expiry_date"/>
        <result property="nursingSign" column="nursing_sign"/>
        <result property="familySign" column="family_sign"/>
        <result property="remark" column="remark"/>
        <result property="useWay" column="use_way"/>
        <result property="dosage" column="dosage"/>
        <result property="creatorId" column="creator_id"/>
        <result property="updaterId" column="updater_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
        <result property="isTaken" column="is_taken"/>
        <result property="businessNo" column="business_no"/>
    </resultMap>
    <update id="del">
        update bus_take_medicine_record
        set is_del = 1
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="selectByTime" resultMap="busTakeMedicineRecordMap">
        select * from  bus_take_medicine_record
        <where>
            <if test="takeMedicineDate !=null">
                date_format(take_medicine_date,'%Y-%m-%d') = date_format(#{takeMedicineDate},'%Y-%m-%d')
            </if>
            <if test="name !=null and name !=''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="isTaken !=null and isTaken !=''">
                and is_taken = #{isTaken}
            </if>
            <if test="businessNo !=null and businessNo !=''">
                and business_no = #{businessNo}
            </if>
            and is_del = 0
        </where>
    </select>
    <select id="queryTakeMedicineNoToken"
            resultType="com.vblessings.nhs.model.vo.business.TakeMedicineReportQueryVO">
        SELECT
          t1.business_no AS businessNo,
          t1.name AS name,
          t1.drug_name AS drugName,
          t1.use_way AS useWay,
          t1.dosage AS dosage,
          t2.building_name AS buildingName,
          t2.floor_name AS floorName,
          t2.room_name AS roomName,
          t2.bed_name AS bedName
        FROM bus_take_medicine_record t1
        LEFT JOIN bus_hospital_record t2 ON t1.business_no = t2.business_no
          AND t2.is_del = 0 AND t2.status = '0'
        WHERE
         t1.is_del = 0
        <if test="startTime !=null and startTime != ''">
            AND t1.take_medicine_date <![CDATA[>=]]> to_timestamp(#{startTime}, 'yyyy-MM-dd hh24:mi:ss')
        </if>
        <if test="endTime !=null and endTime != ''">
            AND t1.take_medicine_date <![CDATA[<=]]> to_timestamp(#{endTime}, 'yyyy-MM-dd hh24:mi:ss')
        </if>
        ORDER BY t2.building_code, t2.floor_code, t2.bed_code
    </select>

</mapper>