<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vblessings.nhs.mapper.SysBedInfoMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.vblessings.nhs.model.entity.bed.SysBedInfo" id="sysBedInfoMap">
        <result property="id" column="id"/>
        <result property="bedCode" column="bed_code"/>
        <result property="roomCode" column="room_code"/>
        <result property="floorCode" column="floor_code"/>
        <result property="buildingCode" column="building_code"/>
        <result property="name" column="name"/>
        <result property="creatorId" column="creator_id"/>
        <result property="updaterId" column="updater_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
        <result property="status" column="status"/>
        <result property="useFlag" column="use_flag"/>
        <result property="buildingName" column="building_name"/>
        <result property="floorName" column="floor_name"/>
        <result property="roomName" column="room_name"/>
    </resultMap>
    <resultMap type="com.vblessings.nhs.model.vo.page.PageDetailQueryVO" id="queryPatientMap">
        <result property="businessNo" column="business_no"/>
        <result property="archiveId" column="archive_id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="buildingCode" column="building_code"/>
        <result property="floorCode" column="floor_code"/>
        <result property="roomCode" column="room_code"/>
        <result property="roomName" column="name"/>
        <result property="bedCode" column="bed_code"/>
        <result property="bedName" column="name"/>
        <result property="roomType" column="room_type"/>
        <result property="nursingLevel" column="nursing_level"/>
        <result property="admissionTime" column="admission_time"/>
        <result property="hospitalDiagnosis" column="hospital_diagnosis" typeHandler="com.vblessings.nhs.model.typehandler.ListStringHandler"/>
        <result property="contactNumber" column="contact_number"/>
        <result property="allergy" column="allergy" typeHandler="com.vblessings.nhs.model.typehandler.ListStringHandler"/>
        <result property="feesDueStatue" column="fees_due_statue"/>
        <result property="feesDueDate" column="fees_due_date"/>
        <result property="status" column="status"/>
    </resultMap>
    <select id="queryPatient" resultMap="queryPatientMap">
        SELECT
          t2.business_no AS "businessNo",
          t2.archive_id AS "archiveId",
          t2.name AS "name",
          t2.sex AS "sex",
          t2.age AS "age",
          t1.building_code AS "buildingCode",
          t1.floor_code AS "floorCode",
          t1.room_code AS "roomCode",
          t3.name AS "roomName",
          t1.bed_code AS "bedCode",
          t1.name AS "bedName",
          t3.room_type AS "roomType",
          t2.nursing_level AS "nursingLevel",
          DATE_FORMAT(t2.admission_time,'%Y-%m-%d %H:%i:%s') AS "admissionTime",
          t2.hospital_diagnosis AS "hospitalDiagnosis",
          t2.contact_number AS "contactNumber",
          t2.allergy AS "allergy",
          t2.fees_due_statue AS "feesDueStatue",
          DATE_FORMAT(t2.fees_due_date,'%Y-%m-%d %H:%i:%s') AS "feesDueDate",
          t1.status AS "status"
        FROM sys_bed_info t1
        LEFT JOIN bus_hospital_record t2 ON t1.building_code = t2.building_code
          AND t1.floor_code = t2.floor_code AND t1.room_code = t2.room_code
          AND t1.bed_code = t2.bed_code AND t2.is_del = 0 AND t2.status = '0'
        LEFT JOIN sys_room_info t3 ON t1.building_code = t3.building_code
          AND t1.floor_code = t3.floor_code AND t1.room_code = t3.room_code
            AND t3.is_del = 0
        WHERE t1.is_del = 0
          AND t1.use_flag = '1'
        <if test="buildingCode != null and buildingCode != ''">
          AND t1.building_code = #{buildingCode}
        </if>
          AND t1.floor_code in
        <foreach collection="floorCodeList" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
        AND t1.room_code in
        <foreach collection="roomCodeList" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>

</mapper>