<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vblessings.nhs.mapper.SysDictDataMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.vblessings.nhs.model.entity.sys.SysDictData" id="sysDictDataMap">
        <result property="id" column="id"/>
        <result property="dictTypeCode" column="dict_type_code"/>
        <result property="dictCode" column="dict_code"/>
        <result property="dictName" column="dict_name"/>
        <result property="wubiCode" column="wubi_code"/>
        <result property="pinyinCode" column="pinyin_code"/>
        <result property="sortNo" column="sort_no"/>
        <result property="remark" column="remark"/>
        <result property="creatorId" column="creator_id"/>
        <result property="updaterId" column="updater_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
        <result property="useFlag" column="use_flag"/>
    </resultMap>
    <update id="updateIsDel">
        update sys_dict_data
        set is_del = 1
        where dict_code in
        <foreach item="code" collection="array" open="(" separator="," close=")">
            #{code}
        </foreach>
        and dict_type_code = #{typeCode}
    </update>
    <select id="selectByTypeCode" resultType="java.lang.String">
        select dict_code from sys_dict_data where dict_type_code = #{dictTypeCode}
        and is_del = 0
    </select>

</mapper>