<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nurse.healthy.mapper.LoginMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.nurse.healthy.model.entity.sys.SysLogin" id="sysLoginMap">
        <result property="id" column="id"/>
        <result property="employeeCode" column="employee_code"/>
        <result property="password" column="password"/>
    </resultMap>
    <update id="resetPassword">
        update sys_login
        set password = 000000
        where employeeCode = #{employeeCode}
    </update>

</mapper>